body{
    background-image: url("Anatomybacknew.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
h1 {
    text-align: center;
    color: rgb(175, 99, 48);
}

.area {
    border: black;
}
h2{
    color: rgb(175, 99, 48);
}
a{
    color: rgb(144, 37, 11);
    text-decoration: none;
}